@model Nop.Plugin.MyPlugin.Models.MyPluginModel
@{
    Layout = "_ConfigurePlugin";
}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>My plugin added</p>

</body>
</html>
